/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
 
}


a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

@media (min-width: 992px) {
  .text-lg-right {
      text-align: right !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
      text-align: left !important;
  }
}
.align-items-center {
  align-items: center !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
@media (min-width: 992px) {
  .mb-lg-0, .my-lg-0 {
      margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}
.col-lg-6 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.text-primary {
  color: #03c5ec !important;
}
.px-3 {
  padding-right: 1rem !important;
}
.fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 30px;
}

#callnowbutton {
  position: fixed;
  text-decoration: none;
  z-index: 100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 1px solid #2dc62d;
  bottom: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
  transform: scale(.9);
  left: 40px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNjAgNjAiPjxwYXRoIGQ9Ik03LjEwNCAxNC4wMzJsMTUuNTg2IDEuOTg0YzAgMC0wLjAxOSAwLjUgMCAwLjk1M2MwLjAyOSAwLjc1Ni0wLjI2IDEuNTM0LTAuODA5IDIuMSBsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDE2LjUgMTcuNCAxOS44IDE5LjhsMTYuODEzIDEuMTQxYzAgMCAwIDAuNCAwIDEuMSBjLTAuMDAyIDAuNDc5LTAuMTc2IDAuOTUzLTAuNTQ5IDEuMzI3bC02LjUwNCA2LjUwNWMwIDAtMTEuMjYxIDAuOTg4LTI1LjkyNS0xMy42NzRDNi4xMTcgMjUuMyA3LjEgMTQgNy4xIDE0IiBmaWxsPSIjMDA2NzAwIi8+PHBhdGggZD0iTTcuMTA0IDEzLjAzMmw2LjUwNC02LjUwNWMwLjg5Ni0wLjg5NSAyLjMzNC0wLjY3OCAzLjEgMC4zNWw1LjU2MyA3LjggYzAuNzM4IDEgMC41IDIuNTMxLTAuMzYgMy40MjZsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDUuMyA2LjkgOS4xIDEwLjY5OWMzLjg0MiAzLjggNy40IDYuNyAxMC43IDkuMSBsNC43NC00Ljc0MmMwLjg5Ny0wLjg5NSAyLjQ3MS0xLjAyNiAzLjQ5OC0wLjI4OWw3LjY0NiA1LjQ1NWMxLjAyNSAwLjcgMS4zIDIuMiAwLjQgMy4xMDVsLTYuNTA0IDYuNSBjMCAwLTExLjI2MiAwLjk4OC0yNS45MjUtMTMuNjc0QzYuMTE3IDI0LjMgNy4xIDEzIDcuMSAxMyIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==) center / 50px 50px no-repeat #090;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.redes_contac {
  margin-top: 15px;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #03C4EB;
  color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover;
}
#hero2 {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/4.jpeg) top center fixed;
  background-size: cover;
  overflow: hidden;
}


#hero .hero-logo {
  margin: 20px;
}
#hero2 .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}
#hero2 .hero-logo img {
  max-width: 100%;
}


#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#hero2 .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
#hero2 h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #999;
  margin-bottom: 50px;
}
#hero2 h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero2 h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
  #hero2 h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}
#hero2 .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}
#hero2 .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}
#hero2 .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}


#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
#hero2 .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}
#hero2 .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}
#hero2 .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}
.vinculo_tecnologia{
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: #03C4EB;
}

button.aqui{
  background:#03C4EB;
  border: 1px solid;
}

.btn_aqui{
  margin: 0 15px;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: px;
  font-weight: bold;
  letter-spacing: .7;
  background-image: linear-gradient(top, #ffffff33 1px, #ffffff00 1px, #0000001a 100%);
  box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0,0,0,0.1);
  animation: anime 1s infinite ease-in-out alternate;
}
@keyframes anime {
  100%{
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translate(20px);
  -o-transform: translate(20px);
  box-shadow: 0 40px  10px -18px rgba(0, 0, 0, 0.2), 0 40px 16px -12px rgba(0, 0, 0, 0.2);
}  
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}


.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
 
}
li .subtitle_tecno{
  
  text-align: center;
  background-color  : rgb(0, 162, 255);
  width: 100%;
}
@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}
#nav-menu-container_2 li a {
  color: #fff;
  font-weight: 900;
}


#nav-menu-container_2 {
  float: left;
  margin: 5px 0;
  position: relative;
  z-index: 1;
}
li #nav-menu-container_2 {
  color: #111;
}


@media (max-width: 768px) {
  #nav-menu-container_2 {
    display: block;
  }
 
}
.container_2{
  display: block;
  height: 270px;
  position: relative;
  background: url(../img/1.jpeg)no-repeat 100% 50%;
  background-size: 120%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  border: solid #03C4EB;
  border-radius: 10px;
  box-shadow: 16px 14px 20px #0000009c;
  transition: all 3s;
  
  &:hover {
    box-shadow: 0px .5rem 2rem rgba(0, 0, 0, .75);
    background-position: 0% 50%;

    #nav-menu-container_2 {
      transform: rotate(-45deg) translate(0px) rotate(-315deg);
      background: rgba(#283629,.5);
      width: 15%;   
      font-weight: 900;
      height: 250px;
      margin-top: (10px / 2);
      margin-left: (10px / 2);      
    }
  }
}


@media (max-width: 768px){
  .container_2{
    height: 230px;
  }
} 


/* Nav Menu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #03C4EB;
}



.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
 
}

.nav-menu ul li:hover {
  background: #100e0e;
 
} 


.nav-menu ul li a {
  color: #333;
}


.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
  margin-top: 120px;
}


@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
  
  
}


/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}


#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {

  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container {
  background: url(../img/about-img.jpg) left top no-repeat;
  border-radius: 10px;
  object-fit: cover;
  
  
}

.arrendamiento_img{
  background: url(../img/arrendamiento.jpg) left top no-repeat;
  border-radius: 10px;
  height: 500px;
  object-fit: cover;
}

#about .about-container-consultorias{
  background: url(../img/consult-1.jpg) left top no-repeat;
  border-radius: 10px;
    
}

.about-container-fotomultas {
  background: url(../img/deteccion.jpg) left top no-repeat;
  border-radius: 10px;
  
}
.about-container-movilidad {
  background: url(../img/movilidad.jpe) left top no-repeat;
  border-radius: 10px;
   
}

#about .about-content {
  background: #fff;
  }

#about .about-title {
  color: #333;
  font-weight: 800;
  font-size: 30px;
}

#about .about-text {
  line-height: 20px;
  text-align: justify;
}
.about-text_fotomultas{
  line-height: 26px;
  text-align: justify;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  margin-right: 10px;
  line-height: 24px;
  text-align: justify;
}


/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe .subscribe-btn:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 80px 0;
  margin: 25px;
   
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}



#portfolio .portfolio-item .details h4 {
  font-size: 18px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width:991px){
  #portfolio {
    max-width: 90%;
    margin: 5px;
    margin-left: 20px;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;

  }
}

.content-icons{
  display: block;
  box-sizing:content-box;
  overflow: hidden;
  margin: 15px;
  padding: 10px;
  max-height: 150px;
  width: 95%;
  text-align-last: justify;
}

@media (max-width:991px){
  .content-icons{
    display: flex;
    box-sizing:content-box;
    overflow: hidden;
    margin: 15px;
    padding: 10px;
    max-height: 550px;
    width: 80%;
    text-align-last: justify;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .icono-tecno2 {
    padding-top: 15px;
  }
  
}

.icono-tecno {
  width: 150px;
  height: 150px;
  padding: auto;
  margin: 5px;
}
.icono-tecno2 {
  width: 91px;
  height: 73px;
  padding: auto;
  margin: 5px;
}

.icono-tecno3 {
  width: 130px;
  height: 80px;
  padding: auto;
  margin: 5px;
}
.icono-tecno4 {
  width: 120px;
  height: 80px;
  padding: auto;
  margin: 5px;
}
.icono-tecno5 {
  width: 110px;
  height: 80px;
  padding: auto;
  margin: 5px;
}
.icono-tecno6 {
  width: 110px;
  height: 90px;
  padding: auto;
  margin: 5px;
}
.icono-tecno7 {
  width: 100px;
  height: 70px;
  padding: auto;
  margin: 5px;
}
.icono-tecno8 {
  width: 100px;
  height: 70px;
  padding: auto;
  margin: 5px;
}



/* Testimonials Section
--------------------------------*/
#testimonials {
  background: #f6f6f6;
  padding: 80px 0;
}

#testimonials .profile {
  text-align: center;
}

#testimonials .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#testimonials .profile .pic img {
  max-width: 100%;
}

#testimonials .profile h4 {
  font-weight: 700;
  color: #03C4EB;
  margin-bottom: 5px;
}

#testimonials .profile span {
  color: #333333;
}

#testimonials .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}

#testimonials .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#testimonials .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact  #sendmessage { /*se quitó clase form*/
  color: #03C4EB;
  border: 1px solid #03C4EB;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact  #errormessage { /*se quitó clase form*/
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show { /*se quitó clase form*/
  display: block;
}

#contact  .validation {/*se quitó clase form*/
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact  input, #contact   { /*se quitó clase form y textarea*/
  border-radius: 0;
  box-shadow: none;
}

#contact  button[type="submit"] {/*se quitó clase form*/
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact  button[type="submit"]:hover {/*se quitó clase form*/
  background: #25d8fc;
}


/* nuevo formulario*/

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: 20px;
    
  }
.input-group {
   display: flex;
   flex-direction: column;
   text-align: left;
}
h2 {
    color: #283629;
    font-size: 35px;
}
label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #edfffd;
    border: 6px solid #03c4eb;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

input .form-txt a{
    color: #03C4EB;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btn_form {
    font-size:  16px;
    color: #2e2b2b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(49, 54, 49, 0.4);    
    cursor: pointer;
}

.btn_form:hover {
    background-color: #03C4EB;
    cursor: pointer;
}

@media(max-width:991px){
  
    form {
        padding: 50px 30px;
        width: 80%;
        margin-left: 20px;
    }

    input {
        padding: 15px;
    }
}


/* fin nuevo formulario*/


/*Documentos html*/

.video-box{

  border: 1px solid #03c4eb;
  width: 100%;
  max-width: 720px;
  height: auto;
  margin: 100px auto 0; 
  
 }
.video {
  padding: 20px;
  
}

.video video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.sub_title-video{
  padding: 10px;
  font-weight: 700;
  color: #03c4eb;
  margin-bottom: 5px;
  text-align: center;
  
}

.col-md-9_documentos{
  position: relative;
  width: 400px;
 
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/*New section portfolio descripcion por producto*/

.card-img, .card-img-bottom {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.card-img, .card-img-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}
.card-img{
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.fa-chevron-right {
  margin-left: 30px;
}

@media(max-width:991px){
  .fa-chevron-right {
    margin-left: 15px;
  }
}

svg { /*se suspende img con relacion a archivo original zay*/
  vertical-align: middle;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}

.row_2{  
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;

    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 5px ;
    margin-left: 5px;
    
}

.align-self-center {
  align-self: center!important;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

[role=button] {
  cursor: pointer;
}
.text-dark {
  color: #212529!important;
}
.carousel {
  position: relative;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}
@media (prefers-reduced-motion: reduce){
.carousel-item {
    transition: none;
}
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  max-height: 160px ;
  border: solid;
  background: azure;
  border-radius: 5px;
}


.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.mt-5 {
  margin-top: 3rem!important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.py-2 {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}

.text-warning {
  color: #ede861 !important;
}
.text-secondary {
  color: #6c757d!important;
}
.list-inline-item {
  display: inline-block;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline-item {
  display: inline-block;
}

.text-muted {
  color: #bcbcbc !important;
}

.pb-3 {
  padding-bottom: 1rem!important;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.form_description {
  display: block;
  margin-top: 0em;
  background-color:#03c4eb;
  max-height: 15px;
}

.btn-lg {
  color: #fff;
 }

.btn-lg:hover {
  color: #fff;
 
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.bg-secondary {
  background-color: #6c757d!important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.d-grid {
  display: grid!important;
}

.col {
  flex: 1 0 0%;
}
.bg-light {
  background-color: #e9eef5 !important;
}

